<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <button>
            <a href="formulario.ejs">Ir para formulario</a>
        </button>
    </h1>
</body>
</html>