<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doação</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <div class="aprov"><center>
        <h1>
            RECEBEMOS SEUS DADOS!! <br>
            LOGO MAIS ENTRAREMOS EM CONTATO
            <br>
            A PAZ DO SENHOR

        </h1>
    </div></center>
</body>
</html>